body {
  background-size: contain;
  background-repeat: repeat;
  background-image: url(images/seaOfStars.jpg);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-attachment:fixed;
  background-position: center;
  max-width: 100%;
  overflow-x: hidden;

}

.preload{
  position:fixed;
  background: black;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5 ease;
}
.preload-finish{
  opacity:0;
  pointer-events: none;
}

.loadText{
  font-family: sans-serif;
  font-size: 9vmin;
  color: #22c1c3;
  text-align: center;
  animation-name: swell;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-direction: alternate;
}

@keyframes swell{
  0%{
    transform: scale(0.5)
  }
  100%{
    transform: scale(1.1);
  }
}

#j-tron {
  opacity: 0.9;
  width: 100%;
  min-height: 99vh;
  background-image: url(images//greg-rakozy-oMpAz-DN-9I-unsplash.jpg);
  background-position: center;
  background-size: cover;
  clip-path: polygon(50% 0%, 100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
  z-index: 1;
  position: relative;

}

h1 {
  padding: 40px;
  font-size: 7vmin;
  font-family: "Orbitron", sans-serif;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
  letter-spacing: 0.5rem;
  text-shadow: rgb(63, 207, 207) 0px 1px 6px;
}
h4{
  font-family: "Orbitron", sans-serif;
  text-shadow: rgb(63, 207, 207) 0px 1px 6px;
  letter-spacing: 0.3rem;
  border-bottom: 1px solid #22c1c3;
  margin-top: 20px;
}


.sub-title {
  font-size: 2.5vh;
  color: #ffffff;
  text-align: center;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 5px;
  text-shadow: rgb(63, 207, 207) 0px 1px 4px;

}

.picOfDay {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: 0.2vw solid rgb(31, 33, 33);
  border-radius: 6px;
  box-shadow: rgb(63, 207, 207) 0px 0px 12px;
}

#picOfDayContainer{
  padding: 50px;
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease-out;
}

#picOfDayContainer.fade-in{
  opacity: 1;
  transform: translateY(0);
}

.neoImage { 
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#neoCard{
  padding:50px;
  opacity:0;
  transform: translateY(50px);
  transition: all 1s ease-out;
}
#neoCard.fade-in{
  opacity: 1;
  transform: translateY(0);

}

.issImg:hover,
.neoImage:hover {
  transform: scale(1.04);
  transition: all ease-in 300ms;
  animation: shadowSwell 1s infinite;
  cursor: pointer;
}
@keyframes shadowSwell {
  0% {
    box-shadow: 0 0 0 0 rgba(63, 207, 207, 0.4);
  }
  70% {
    box-shadow: 0 0 0 40px rgba(63, 207, 207, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(63, 207, 207, 0);
  }
}

#issCard{
  padding: 80px;
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease-out;
}

#issCard.fade-in{
  opacity: 1;
  transform: translateY(0);
}



.comet-card {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.5em;
  letter-spacing:1px;
  background: transparent;
  color: rgb(255, 248, 248);
  max-height: 60vh;
  overflow-y: auto;
  width: 30rem;
  margin: 30px auto;
  border: #22c1c3 0.5px solid;
  text-shadow: rgb(63, 207, 207) 0px 1px 2px;
}
.card-img-top {
  width: 100%;
  object-fit: cover;
}

.fa-window-close:hover {
  cursor: pointer;
  color: #7df1f3;
}
.centered {
  letter-spacing: normal;
  line-height: inherit;
  font-size: 3.5vmax;
  position: absolute;
  top: 20vmin;
  left: 50%;
  transform: translate(-50%, -50%);
}

.info {
  letter-spacing: 0.8rem;
  font-weight: bolder;
  box-shadow: #22c1c3 0px 0px 5px;
  color: #22c1c3;
  background: transparent;
  font-family: "Orbitron", sans-serif;
}

.info:hover {
  color: lightseagreen;
  animation: pulse 2s ease-in-out;
}
.modal-header {
  color: antiquewhite;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 5px;
}


.modal-body {
  color: antiquewhite;
  height: 60vh;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 2px;
  line-height: 2;
  overflow-x: hidden;
  overflow-y: scroll;
}

.modal-content {
  background-color: rgb(4, 4, 5);
  box-shadow: rgb(40, 199, 191) 00px 00px 100px -50px;
  opacity: 0.95;
  border: 0.5px solid #22c1c3;
}
span {
  color: rgb(40, 199, 191);
  font-size: 1.5rem;
}
span:hover{
  color: #7df1f3; 
}

.pull-right{
  position: fixed;
}

.btn-secondary{
  background: transparent;
  color: #22c1c3;
  border: 1px solid #22c1c3;
}

.btn-secondary:hover{
  background: transparent;
  transform: scale(1.03);
  transition: all 100ms ease-in;
  color: #7df1f3;
  border: 1px solid #7df1f3;
  box-shadow: 0px 0px 10px -2px #7df1f3;
}

#videoOfDay{
  height: 100vh;
}


.solar-container{
height:100vh;
margin: 100px auto;

}


.sun,.venus,
.mercury,.moon,
.jupiter,.uranus,
.neptune,.pluto,
.saturn,.mars{
 width: 25vw;
 height: 25vw;
 margin: 15px auto;
 padding-bottom: 0vw;

display: inline-block;
cursor: pointer;
}

.saturn{
  min-width: 25vw;
  min-height: 25vw;
}

/* Planet Names */

.sunBefore::before{
  text-align: center;
  display: block;
  font-size: 4vw;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-shadow: #22c1c3 0px 2px 2px;
  letter-spacing: 2px;
  content: "SUN";
  color: rgb(255, 255, 255);
  position: absolute;
  position: relative;
}

.mercuryBefore::before{
  text-align: center;
  display: block;
  font-size: 3vw;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-shadow: #22c1c3 0px 2px 2px;
  letter-spacing: 2px;
  content: "MERCURY";
  color: rgb(255, 255, 255);
  position: absolute;
  position: relative;
}

.venusBefore::before{
  text-align: center;
  display: block;
  font-size: 3vw;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-shadow: #22c1c3 0px 2px 2px;
  letter-spacing: 2px;
  content: "VENUS";
  color: rgb(255, 255, 255);
  position: absolute;
  position: relative;
}
.moonBefore::before{
  text-align: center;
  display: block;
  font-size: 3vw;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-shadow: #22c1c3 0px 2px 2px;
  letter-spacing: 2px;
  content: "MOON";
  color: rgb(255, 255, 255);
  position: absolute;
  position: relative;
}
.marsBefore::before{
  text-align: center;
  display: block;
  font-size: 3vw;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-shadow: #22c1c3 0px 2px 2px;
  letter-spacing: 2px;
  content: "MARS";
  color: rgb(255, 255, 255);
  position: absolute;
  position: relative;
}
.jupiterBefore::before{
  text-align: center;
  display: block;
  font-size: 3vw;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-shadow: #22c1c3 0px 2px 2px;
  letter-spacing: 2px;
  content: "JUPITER";
  color: rgb(255, 255, 255);
  position: absolute;
  position: relative;
}

.saturnBefore::before{
  text-align: center;
  display: block;
  font-size: 3vw;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-shadow: #22c1c3 0px 2px 2px;
  letter-spacing: 2px;
  content: "SATURN";
  color: rgb(255, 255, 255);
  position: absolute;
  position: relative;
}

.uranusBefore::before{
  text-align: center;
  display: block;
  font-size: 3vw;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-shadow: #22c1c3 0px 2px 2px;
  letter-spacing: 2px;
  content: "URANUS";
  color: rgb(255, 255, 255);
  position: absolute;
  position: relative;
}

.neptuneBefore::before{
  text-align: center;
  display: block;
  font-size: 3vw;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-shadow: #22c1c3 0px 2px 2px;
  letter-spacing: 2px;
  content: "NEPTUNE";
  color: rgb(255, 255, 255);
  position: absolute;
  position: relative;
}

.plutoBefore::before{
  text-align: center;
  display: block;
  font-size: 3vw;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-shadow: #22c1c3 0px 2px 2px;
  letter-spacing: 2px;
  content: "PLUTO";
  color: rgb(255, 255, 255);
  position: absolute;
  position: relative;
}