body {
  background-size: contain;
  background-repeat: repeat;
  background-color: black;
  background-image: url(images/seaOfStars.jpg);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-attachment:fixed;
  background-position: center;
  max-width: 100%;
  overflow-x: hidden;
}

.bar{
  font-size: 20px;
  width: 15em;
  height: 2em;
  position: relative;
  margin: 100px auto;
  border-radius: 1em;
  background: white;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 
  0 0 0 .05em rgba(100,100,100,1),
  0 0 0 .25em rgba(13, 215, 211, 0.31),
  inset 0 .1em .05em rgba(0, 0, 0, 0.1),
  0 .05em rgba(255, 255, 255, 0.7);
}
.bar:after{
  content: "Contacting NASA..";
  text-align: center;
  position: absolute;
  top: 150%;
  font-family: "Orbitron", sans-serif;
  font-size: 2em;
  letter-spacing: 3px;
  color: #555;
  text-shadow: 0 .05em rgba(24, 197, 216, 0.6);
}

.baby-yoda{
  display: block;
  width: 2em;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(#eee, #ddd);
  animation: move 1.75s ease-in-out infinite alternate;
}
@keyframes move{
  to{
    margin-left: 86%;
  }
}


.preload{
  position:fixed;
  background: radial-gradient(closest-side, #373d43, #1e211b, #101010);
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1s ease; 
  z-index: 1;
}

#j-tron {
  opacity: 0.8;
  width: 80%;
  margin: 40px auto;
  border-radius: 40px;
  box-shadow: #22c1c3 0px 5px 25px -1px;
  min-height: 89vh;
  background-image: url(images//greg-rakozy-oMpAz-DN-9I-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

h1 {
  padding: 40px;
  font-size: 7vmin;
  font-family: "Orbitron", sans-serif;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
  letter-spacing: 0.5rem;
  text-shadow: rgb(63, 207, 207) 0px 1px 6px;
}
h4{
  font-family: "Orbitron", sans-serif;
  text-shadow: rgb(63, 207, 207) 0px 1px 6px;
  letter-spacing: 0.3rem;
  border-bottom: 1px solid #22c1c3;
  margin-top: 20px;
}


.sub-title {
  font-size: 2.5vh;
  color: #ffffff;
  text-align: center;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 5px;
  text-shadow: rgb(63, 207, 207) 0px 1px 4px;
}

.picOfDay {
  max-height: 90vh;
  min-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: rgb(63, 207, 207) 0px 0px 12px;
}

#picOfDayContainer{
  padding: 100px;
  opacity: 0;
  width: 100%;
  transform: translateY(80px) scale(0.8);
  transition: all 1s ease-out;
}

#picOfDayContainer.fade-in{
  opacity: 1;
  transform: translateY(0);
}

.neoImage { 
  width: 70%;
  height: 70%;
  display: flex;
  margin: 0 auto;
  border-radius: 50%;
}

#neoCard{
  padding:50px;
  opacity:0;
  transform: translateY(50px) scale(0.8);
  transition: all 1s ease-out;
}
#neoCard.fade-in{
  opacity: 1;
  transform: translateY(0);
}

.issImg:hover {
  animation: pulse 1s infinite;
  cursor: pointer;
}

.neoImage:hover {
  transform: rotate(360deg);
  transition: all ease 20s;
  animation: shadowSwell 1s infinite;
  cursor: pointer;
}
@keyframes shadowSwell {
  0% {
    box-shadow: 0 0 0 0 rgba(7, 90, 245, 0.4);
  }
  70% {
    box-shadow: 0 0 0 40px rgba(63, 207, 207, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(63, 207, 207, 0);
  }
}

.issImg{
  margin: 0 auto;
  display: flex;
}

#issCard{
  padding: 80px;
  opacity: 0;
  transform: translateY(50px) scale(0.8);
  transition: all 1s ease-out;
}

#issCard.fade-in{
  opacity: 1;
  transform: translateY(0);
}

.comet-card {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.5em;
  letter-spacing:1px;
  background: transparent;
  color: rgb(255, 248, 248);
  max-height: 60vh;
  overflow-y: auto;
  width: 30rem;
  margin: 30px auto;
  border: #22c1c3 0.5px solid;
  text-shadow: rgb(63, 207, 207) 0px 1px 2px;
}
.card-img-top {
  width: 100%;
  object-fit: cover;
}

.fa-window-close:hover {
  cursor: pointer;
  color: #7df1f3;
}
.centered {
  letter-spacing: normal;
  line-height: inherit;
  font-size: 3.5vmax;
  position: absolute;
  top: 20vmin;
  left: 50%;
  transform: translate(-50%, -50%);
}

.info {
  margin: 0 auto;
  display: flex;
  letter-spacing: 2px;
  border-radius: 4px;
  box-shadow: #22c1c3 0px 0px 5px;
  color: #22c1c3;
  background: transparent;
  font-family: "Orbitron", sans-serif;
}

.issInfo {
  margin: 0 auto;
  display: flex;
  letter-spacing: 2px;
  border-radius: 4px;
  box-shadow: #22c1c3 0px 0px 5px;
  color: #22c1c3;
  background: transparent;
  font-family: "Orbitron", sans-serif;
}

.info:hover {
  color: yellowgreen;
  animation: pulse 2s ease-in-out;
}
.modal-header {
  color: antiquewhite;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 5px;
}

.modal-body {
  color: antiquewhite;
  height: 60vh;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 2px;
  line-height: 2;
  overflow-x: hidden;
  overflow-y: scroll;
}

.modal-content {
  background-color: rgb(4, 4, 5);
  box-shadow: rgb(40, 199, 191) 00px 00px 100px -50px;
  opacity: 0.95;
  border: 0.5px solid #22c1c3;
}
span {
  color: rgb(40, 199, 191);
  font-size: 1.5rem;
}
span:hover{
  color: #7df1f3; 
}

.pull-right{
  position: fixed;
}

.btn-secondary{
  background: transparent;
  color: #22c1c3;
  border: 1px solid #22c1c3;
}

.btn-secondary:hover{
  background: transparent;
  transform: scale(1.03);
  transition: all 100ms ease-in;
  color: #7df1f3;
  border: 1px solid #7df1f3;
  box-shadow: 0px 0px 10px -2px #7df1f3;
}

#videoOfDay{
  height: 100vh;
}


.solar-container{
max-height:100vh;
margin: 100px auto;

}

.sun,.venus,
.mercury,.moon,
.jupiter,.uranus,
.neptune,.pluto,
.saturn,.mars{
 width: 14vw;
 height: 14vw;
 margin: 15px auto;
 padding-bottom: 0vw;
cursor: pointer;
border-radius: 50%;
}

.sun:hover,.venus:hover,
.mercury:hover,.moon:hover,
.jupiter:hover,.uranus:hover,
.neptune:hover,.pluto:hover,
.saturn:hover,.mars:hover{
  animation: bounce 1s ease-in-out ;
}

.saturn{
  min-width: 14vw;
  min-height: 14vw;
  border-radius: 10%;
}

/* Planet Names */
.sunBefore::before{
  margin-bottom: -20px;
  text-align: center;
  display: block;
  font-size: 3vw;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-shadow: #22c1c3 0px 2px 2px;
  letter-spacing: 2px;
  content: "SUN";
  color: rgb(255, 255, 255);
  position: absolute;
  position: relative;
}

.mercuryBefore::before{
  margin-bottom: -20px;
  text-align: center;
  display: block;
  font-size: 3vw;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-shadow: #22c1c3 0px 2px 2px;
  letter-spacing: 2px;
  content: "MERCURY";
  color: rgb(255, 255, 255);
  position: absolute;
  position: relative;
}

.venusBefore::before{
  margin-bottom: -20px;
  text-align: center;
  display: block;
  font-size: 3vw;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-shadow: #22c1c3 0px 2px 2px;
  letter-spacing: 2px;
  content: "VENUS";
  color: rgb(255, 255, 255);
  position: absolute;
  position: relative;
}
.moonBefore::before{
  margin-bottom: -20px;
  text-align: center;
  display: block;
  font-size: 3vw;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-shadow: #22c1c3 0px 2px 2px;
  letter-spacing: 2px;
  content: "MOON";
  color: rgb(255, 255, 255);
  position: absolute;
  position: relative;
}
.marsBefore::before{
  margin-bottom: -20px;
  text-align: center;
  display: block;
  font-size: 3vw;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-shadow: #22c1c3 0px 2px 2px;
  letter-spacing: 2px;
  content: "MARS";
  color: rgb(255, 255, 255);
  position: absolute;
  position: relative;
}
.jupiterBefore::before{
  margin-bottom: -20px;
  text-align: center;
  display: block;
  font-size: 3vw;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-shadow: #22c1c3 0px 2px 2px;
  letter-spacing: 2px;
  content: "JUPITER";
  color: rgb(255, 255, 255);
  position: absolute;
  position: relative;
}

.saturnBefore::before{
  margin-bottom: -20px;
  text-align: center;
  display: block;
  font-size: 3vw;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-shadow: #22c1c3 0px 2px 2px;
  letter-spacing: 2px;
  content: "SATURN";
  color: rgb(255, 255, 255);
  position: absolute;
  position: relative;
}

.uranusBefore::before{
  margin-bottom: -20px;
  text-align: center;
  display: block;
  font-size: 3vw;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-shadow: #22c1c3 0px 2px 2px;
  letter-spacing: 2px;
  content: "URANUS";
  color: rgb(255, 255, 255);
  position: absolute;
  position: relative;
}

.neptuneBefore::before{
  margin-bottom: -20px;
  text-align: center;
  display: block;
  font-size: 3vw;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-shadow: #22c1c3 0px 2px 2px;
  letter-spacing: 2px;
  content: "NEPTUNE";
  color: rgb(255, 255, 255);
  position: absolute;
  position: relative;
}

.plutoBefore::before{
  margin-bottom: -20px;
  text-align: center;
  display: block;
  font-size: 3vw;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-shadow: #22c1c3 0px 2px 2px;
  letter-spacing: 2px;
  content: "PLUTO";
  color: rgb(255, 255, 255);
  position: absolute;
  position: relative;
}


#solar-main{
  margin: 20% auto;
  opacity: 0;
  transform: translateY(50px) scale(0.8);
  transition: all 1s ease-out;
}

#solar-main.fade-in{
  opacity: 1;
  transform: translateY(0px);
  
}

#userWeight{
  background: transparent;
  border: #22c1c3 0.5px solid;
  color: whitesmoke;
  padding: 5px;
  position: absolute;
}

#userWeight:focus{
  outline-color: #22c1c3;
}

#input-btn{
  background: transparent;
  border: #22c1c3 0.5px solid;
  color:whitesmoke;
  position: relative;
  margin-top: 50px ;
}

#issMap{ 
  width: 50vw;
  height: 50vw;
  box-shadow: rgb(40, 199, 191) 00px 0px 20px -2px;
  margin: 0 auto;
  display: flex;
  border-radius: 50%;
}

/* .showMap{
  border: 0.5px solid #22c1c3;
  margin: 0 auto;
  display: flex;
  background: transparent;
  color: whitesmoke;
  margin
} */


